:root {
  --yellow: #ffc600;
  --black: #272727;
}

	#highlight{background:#008073;}#underline{text-decoration:none;border-bottom: 5px solid #008073;}

body.fixed-nav{
  transform: scale(1);
}
nav {
  
  width: 100%;
  /*position:fixed;*/
  /*transition:all 2.5s;*/
  transition: background,opacity 0.5s;
  box-shadow:none!important;
  position: absolute;
  z-index: 100000;
  display:grid;
  
}
@media(max-width:500px){
  nav{width:110%;}
}
.fixed-nav {
  position: fixed!important;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  width:100%!important;
  /*transition : all 0.5s;*/

  /*transform : rotateX(90deg);*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: black;
  transition: all 0.2s;
  text-transform: uppercase;
}

ul{
	padding-left:1%;
}
#main{
	height:11vh!important;
}
#main ul li a:hover{
	background: white;
	color:black;

}
